body {
    font-family: "Courgette", serif;
    padding: 15px;
    padding-bottom: 50px;
    scroll-behavior: smooth;
}

.header {
    margin-top: 2px;
    position: relative;
    /* make side by side*/
    display: flex;
    /* to make mobile adjustable*/
    flex-wrap: wrap;
    /* justify for mobile view*/
    width: 100%;
    height: 100px;
    background-color: none;
}

.logo {
    margin-left: 9px;
    margin-top: 3px;
    margin-right: 10%;
    width: 30%;
    height: 100%;
}

.logo-img {
    width: 40%;
    height: 100%;
}

.title {
    margin-right: 5%;
    font-family: "Russo One", serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: black;
    text-align: justify;
    text-shadow: 2px 2px grey;
    height: 100%;
}

.home-btn {
    margin-top: 2%;
    height: 50%;

}

.home {
    color: black;
    border: 1px solid blue;
    font-size: large;
    width: 120px;
    height: 100%;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 5px;
    line-height: 42px;
    box-shadow: 0 0 5px blue, 0 0 5px blue inset;
    z-index: 1;
}

.home:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: blue;
    box-shadow: 0 0 20px blue;
    transition: all 0.3s ease;
}

.home:hover {
    color: white;
    font-weight: bolder;
}

.home:hover:after {
    left: 0;
    width: 100%;
}

.home:active {
    top: 2px;
}

.info-box {
    position: relative;
    margin-top: 7px;
    /* make side by side*/
    display: flex;
    flex-wrap: wrap;
    /* to make mobile adjustable*/
}

.info {
    font-size: 25px;
    width: 65%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: justify;
}

.india-img-card {
    margin-left: 12px;
    box-shadow: 2px 5px grey;
    transition: 1s;
    width: 25%;
    height: 100%;
    border-radius: 10%;
}

.info-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    margin-top: -45px;

}

.info-img:hover {
    transition-delay: 0ms;
    background-color: #000;


}

.india-img-card:hover {
    transform: translate(50px);
    box-shadow: 0 0 100px gray;
    background-color: black;
}

.labels {
    border: none;
    width: 60%;
    margin-top: 4%;
    border-radius: 15px;
    position: relative;

}

.headings {
    flex-wrap: nowrap;
    font-family: "Bangers", serif;
    letter-spacing: 3px;
    padding-left: 15%;
    font-size: 25px;
    margin: 2px;
    text-transform: capitalize;
    font-weight: bolder;
}

/*
padding = space inside the box div
margin = space outside the box div
*/
.card {
    margin-top: 3%;
    border: 2px solid black;
    box-shadow: 2px 8px cadetblue;
    transition: 1ms;
    width: 300px;
    height: 300px;
    padding: 12px;
    transition: 1s;
    margin-left: 3%;
    border-radius: 30px;

}

.card-img {
    width: 100%;
    height: 70%;
    border-radius: 12px;
}

.action-link {
    border-top: 2px solid rgba(0, 0, 0, 0.69);
    background-color: rgba(0, 0, 0, 0.758);
    height: 75px;
    margin-top: 5%;
    border-radius: 30px;
}


.name-labels {
    text-align: center;
    color: white;
    padding: 20%;
    font-size: 22px;
    font-family: arial;
}

.label-links {
    padding-top: 2px;
    color: goldenrod;
    padding: 30%;
    text-align: end;
    font-size: 20px;
    text-decoration: none;
}

.action-link:hover {
    background-color: black;

}

.label-links:hover {
    color: yellow;

}

.name-labels:hover {
    color: white;
}


.flex-box {
    position: relative;
    /* make side by side*/
    display: flex;
    /* to make mobile adjustable*/
    flex-wrap: wrap;
    /* justify for mobile view*/
}

.card:hover {
    background-color: darkkhaki;
    transform: rotate(-3deg);
}

.main {
    margin-left: 50%;
    margin-top: 6%;
    width: 170px;
    height: 50px;
    border: 2px solid red;
    font-weight: bold;
    font-size: 20px;
    background-color: #fdcb6e;
    cursor: pointer;
    box-shadow: 5px 5px 0 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    position: absolute;
    text-decoration: none;
    color: #000;
    z-index: 1000;
}

.main::after {
    content: "";
    top: 0;
    left: 0;
    width: 170px;
    height: 70px;
    background: linear-gradient(to right, #ff7675, #e84393);
    opacity: 0;
    transition: 0.3s;
}

.main:hover {
    box-shadow: -5px -5px 0 0;
    transform: scale(0.9);
}

.main:hover::after {
    opacity: 1;
}